# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Flask / environment
.env
instance/

# Logs
*.log

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Database files (if used locally)
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/